.darkMode {
	background-color: black;
	width: 100vw;
	min-height: 100vh;
}

.lightMode {
	background: #834d9b; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #d04ed6, #834d9b); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#d04ed6,
		#834d9b
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	width: 100vw;
	min-height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

li {
	margin-bottom: 10px;
	padding: 8px;
	border: 1px solid #2ecc71;
	background-color: #e8f8ed;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

li:hover {
	background-color: #3de08e;
	color: #fff;
}
